Repository tomarrell/lbadd, pull requests merged in 2020-05, with the labels that each got.

#111 Reduce executable size
  .github/workflows/build.yml
  Makefile
Labels: ci, enhancement

#132 Create pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: enhancement

#128 compiler: define command and implement a simple compiler
  .github/CODEOWNERS
  doc/intermediary-rep.md
  doc/intermediary-representation.md
  internal/compiler/command/command.go
  internal/compiler/command/doc.go
  internal/compiler/command/expr.go
  internal/compiler/compiler.go
  internal/compiler/doc.go
  internal/compiler/errors.go
  internal/compiler/multierror.go
  internal/compiler/optimization.go
  internal/compiler/optimization_bench_test.go
  internal/compiler/optimization_test.go
  internal/compiler/option.go
  internal/compiler/simple_compiler.go
  internal/compiler/simple_compiler_test.go
  internal/executor/command/command.go
  internal/executor/command/doc.go
  internal/executor/executor.go
  internal/executor/simple_executor.go
  internal/parser/parser_test.go
  internal/parser/simple_parser.go
Labels: component/compiler, enhancement

#149 Add underscore and dash to literal
  internal/parser/scanner/rule_based_scanner_test.go
  internal/parser/scanner/ruleset/ruleset_default.go
Labels: component/parser, enhancement

#154 parser: result column bug: can take expr of single and recursive type.
  go.mod
  go.sum
  internal/network/tcp_conn_test.go
  internal/parser/parser_test.go
  internal/parser/simple_parser_rules.go
Labels: bug, component/parser

#148 compiler: support select statement
  internal/compiler/command/command.go
  internal/compiler/command/expr.go
  internal/compiler/command/jointype_string.go
  internal/compiler/golden_test.go
  internal/compiler/optimization.go
  internal/compiler/optimization/doc.go
  internal/compiler/optimization/half_join.go
  internal/compiler/optimization/half_join_bench_test.go
  internal/compiler/optimization/half_join_test.go
  internal/compiler/optimization/optimization.go
  internal/compiler/simple_compiler.go
  internal/compiler/simple_compiler_fixture_test.go
  internal/compiler/simple_compiler_test.go
  internal/compiler/testdata/golden/select_distinct.golden
  internal/compiler/testdata/golden/select_expression.golden
  internal/compiler/testdata/golden/select_multiple_joins.golden
  internal/compiler/testdata/golden/select_with_explicit_join.golden
  internal/compiler/testdata/golden/select_with_implicit_and_explicit_join.golden
  internal/compiler/testdata/golden/select_with_implicit_join.golden
  internal/compiler/testdata/golden/simple_select#01.golden
  internal/compiler/testdata/golden/simple_select.golden
Labels: component/compiler, feature

#163 parser: fixes a number of bugs in parseExpr
  internal/parser/error_reporter.go
  internal/parser/parser_test.go
  internal/parser/simple_parser_rules.go
Labels: bug, epic

#168 compiler: add support for DELETE statements
  internal/compiler/command/command.go
  internal/compiler/command/expr.go
  internal/compiler/simple_compiler.go
  internal/compiler/simple_compiler_test.go
Labels: component/compiler, feature

#169 compiler: add support for DROP statements
  internal/compiler/command/command.go
  internal/compiler/simple_compiler.go
  internal/compiler/simple_compiler_test.go
Labels: component/compiler, feature

#170 compiler: add support for UPDATE statements
  Makefile
  internal/compiler/command/command.go
  internal/compiler/command/updateor_string.go
  internal/compiler/simple_compiler.go
  internal/compiler/simple_compiler_test.go
Labels: component/compiler, feature
