Repository tomarrell/lbadd, pull requests merged in 2020-03, with the labels that each got.

#67 sql driver
  cmd/repl/main.go
  driver/conn.go
  driver/connector.go
  driver/doc.go
  driver/driver.go
  driver/driver_test.go
  driver/error.go
  driver/stmt.go
  driver/test/doc.go
  driver/test/issue62_test.go
  driver/test/main_test.go
  internal/cli/simple_cli.go
  internal/server/doc.go
  internal/server/server.go
  internal/server/simple_server.go
Labels: enhancement

#87 Add a generated trie to speed up keyword detection
  internal/parser/scanner/ruleset/keyword_detection_bench_test.go
  internal/parser/scanner/ruleset/ruleset_default.go
  internal/parser/scanner/ruleset/ruleset_default_keyword_trie.go
Labels: component/parser

#83 Implements more statements
  internal/parser/ast/statement.go
  internal/parser/parser_test.go
  internal/parser/simple_parser_rules.go
Labels: component/parser, enhancement

#94 Add secure file system abstraction
  cmd/lbadd/main.go
  go.mod
  go.sum
  internal/database/storage/securefs/doc.go
  internal/database/storage/securefs/secure_file.go
  internal/database/storage/securefs/secure_fs.go
  internal/database/storage/securefs/secure_fs_test.go
  internal/executor/executor.go
  internal/executor/simple_executor.go
Labels: component/storage, enhancement
